<mat-card class="container">
  <div class="sidebar">
    <input type="file" (change)="uploadSVG($event)" accept="image/svg+xml" hidden #fileInput>
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      {{ uploadedSVG ? 'Reupload SVG' : 'Upload SVG' }}
    </button>
    <button mat-raised-button color="accent" (click)="changeColor()" [disabled]="!selectedElement">
      <mat-icon>color_lens</mat-icon>
      Change Color
    </button>
    <button mat-raised-button color="primary" (click)="showAttributesDialog()"
            [disabled]="!selectedElement || previewMode">
      <mat-icon>edit</mat-icon>
      Edit Attributes
    </button>
    <button mat-raised-button color="warn" (click)="togglePreview()" [disabled]="!uploadedSVG">
      <mat-icon>visibility</mat-icon>
      {{ previewMode ? 'Exit Preview' : 'Preview' }}
    </button>
    <button mat-raised-button color="primary" (click)="downloadSVG()" [disabled]="!uploadedSVG">
      <mat-icon>download</mat-icon>
      Download SVG
    </button>
  </div>

  <mat-card-content class="svg-container">
      <div #svgContainer class="svg-container" (contextmenu)="onRightClick($event)" [class.preview-mode]="previewMode">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="svg">
          <g></g>
        </svg>
      </div>
    </mat-card-content>
</mat-card>
