.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row;
}

.mat-dialog-container {
  z-index: 9999 !important; /* Adjust if needed */
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Ensure overlay is visible */
}
